name: build
on:
  push:
    paths-ignore:
      - "**.md"
      - "LICENSE"
      - "NOTICE"
      - ".gitignore"
      - "scripts/version_update.sh"
    branches-ignore:
      - daily
    tags:
      - "*"
jobs:
  build-linux:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - name: android_x86_64
            runs-on: ubuntu-24.04
    runs-on: ${{ matrix.platform.runs-on }}
    steps:
      - uses: actions/checkout@v5
      - name: Disk Cleanup
        run: |
          set -x
          df -h
          sudo du -h -d1 /usr/local
          sudo du -h -d1 /usr/local/share
          sudo du -h -d1 /usr/local/lib
          sudo du -h -d1 /usr/share
          RMI=`docker images -q -a`
          if [ -n "$RMI" ]; then
            docker rmi $RMI
          fi
          # 4.6G
          sudo rm -rf /usr/local/.ghcup
          # 1.7G
          sudo rm -rf /usr/share/swift
          # 1.4G
          sudo rm -rf /usr/share/dotnet
          # 13G
          sudo rm -rf /usr/local/lib/android
          df -h
      - name: Get stats
        run: |
          set -x
          cat /etc/lsb-release
          uname -a
          cat /proc/cpuinfo
          cat /proc/meminfo
      - name: Setup ${{ matrix.platform.name }} for x86_64
        run: sudo scripts/apt_install_x86_64.sh
      - name: Setup ${{ matrix.platform.name }} for android
        run: sudo scripts/apt_install_x86_64.sh && sudo apt-get install -y openjdk-11-jdk
      - name: Setup Git User
        run: |
          git config --global user.name  "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
      - name: Build ${{ matrix.platform.name }}
        run: |
          python3 run.py build ${{ matrix.platform.name }} --no-history
          python3 run.py package ${{ matrix.platform.name }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: webrtc.${{ matrix.platform.name }}.tar.gz
          path: _package/${{ matrix.platform.name }}/webrtc.${{ matrix.platform.name }}.tar.gz
  create-release:
    name: Create Release
    if: contains(github.ref, 'tags/m')
    needs:
      - build-linux
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/download
        with:
          platform: android_x86_64
      - name: Env to output
        run: |
          echo "package_paths<<EOF" >> $GITHUB_OUTPUT
          cat package_paths.env >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
        id: env
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ steps.env.outputs.package_paths }}
