name: build
on:
  push:
    paths-ignore:
      - "**.md"
      - "LICENSE"
      - "NOTICE"
      - ".gitignore"
      - "scripts/version_update.sh"
    branches-ignore:
      - daily
    tags:
      - "*"
jobs:
  build-macos:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - name: macos_arm64
          - name: ios
          - name: ios_sdk
          - name: visionos
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v5
      - name: Select Xcode 16.1
        run: sudo xcode-select --switch /Applications/Xcode_26.0.app/Contents/Developer
      - name: Setup Git User
        run: |
          git config --global user.name  "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
      - name: Build ${{ matrix.platform.name }} for macos
        if: matrix.platform.name == 'macos_arm64'
        run: |
          python3 run.py build ${{ matrix.platform.name }} --no-history
          python3 run.py package ${{ matrix.platform.name }}
      - name: Build ${{ matrix.platform.name }} for ios/ios_sdk
        if: matrix.platform.name == 'ios' || matrix.platform.name == 'ios_sdk'
        run: |
          python3 run.py build ${{ matrix.platform.name }} --webrtc-overlap-ios-build-dir
          python3 run.py package ${{ matrix.platform.name }} --webrtc-overlap-ios-build-dir
      - name: Build ${{ matrix.platform.name }} for visionos
        if: matrix.platform.name == 'visionos'
        run: |
          python3 run.py build ${{ matrix.platform.name }} --webrtc-overlap-ios-build-dir
          python3 run.py package ${{ matrix.platform.name }} --webrtc-overlap-ios-build-dir
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: webrtc.${{ matrix.platform.name }}.tar.gz
          path: _package/${{ matrix.platform.name }}/webrtc.${{ matrix.platform.name }}.tar.gz
      # Sora iOS SDK 用に WebRTC.xcframework.zip をアップロードする
      # ios_sdk のみ webrtc.${{ matrix.platform.name }}.tar.gz だけでなく、WebRTC.xcframework.zip もアップロードする
      - name: Upload Artifact for ios_sdk (WebRTC.xcframework.zip)
        if: matrix.platform.name == 'ios_sdk'
        uses: actions/upload-artifact@v4
        with:
          name: WebRTC.xcframework.zip
          path: _package/${{ matrix.platform.name }}/WebRTC.xcframework.zip
  create-release:
    name: Create Release
    if: contains(github.ref, 'tags/m')
    needs:
      - build-macos
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/download
        with:
          platform: macos_arm64
      - uses: ./.github/actions/download
        with:
          platform: ios
      - uses: ./.github/actions/download
        with:
          platform: ios_sdk
      - uses: ./.github/actions/download
        with:
          platform: visionos
      # Sora iOS SDK 向けバイナリの WebRTC.xcframework.zip をダウンロードする
      - name: Env to output for WebRTC.xcframework.zip
        shell: bash
        run: |
          PACKAGE_NAME=WebRTC.xcframework.zip
          echo "$PACKAGE_NAME/$PACKAGE_NAME" >> package_paths.env
      - uses: actions/download-artifact@v5
        with:
          name: WebRTC.xcframework.zip
          path: WebRTC.xcframework.zip
      - name: Env to output
        run: |
          echo "package_paths<<EOF" >> $GITHUB_OUTPUT
          cat package_paths.env >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
        id: env
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ steps.env.outputs.package_paths }}
